<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

<h1>Extracting and Visualizing Stock Data</h1>
<h2>Description</h2>

Extracting essential data from a dataset and displaying it is a necessary part of data science; therefore individuals can make correct decisions based on the data. In this assignment, you will extract some stock data, you will then display this data in a graph.

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li>Define a Function that Makes a Graph</li>
        <li>Question 1: Use yfinance to Extract Stock Data</li>
        <li>Question 2: Use Webscraping to Extract Tesla Revenue Data</li>
        <li>Question 3: Use yfinance to Extract Stock Data</li>
        <li>Question 4: Use Webscraping to Extract GME Revenue Data</li>
        <li>Question 5: Plot Tesla Stock Graph</li>
        <li>Question 6: Plot GameStop Stock Graph</li>
    </ul>
<p>
    Estimated Time Needed: <strong>30 min</strong></p>
</div>

<hr>

In [1]:
!pip install yfinance
#!pip install pandas
#!pip install requests
!pip install bs4
#!pip install plotly

Collecting yfinance
  Downloading yfinance-0.1.55.tar.gz (23 kB)
Requirement already satisfied: pandas>=0.24 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from yfinance) (1.0.5)
Requirement already satisfied: numpy>=1.15 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from yfinance) (1.18.5)
Requirement already satisfied: requests>=2.20 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from yfinance) (2.24.0)
Collecting multitasking>=0.0.7
  Downloading multitasking-0.0.9.tar.gz (8.1 kB)
Requirement already satisfied: lxml>=4.5.1 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from yfinance) (4.5.1)
Requirement already satisfied: python-dateutil>=2.6.1 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from pandas>=0.24->yfinance) (2020.1)
Requirement already satisfied: idna<3,>=2.5 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests>=2.20->yfinance) (2.9)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests>=2.20->yfinance) (2020.12.5)
Requirement already satisfied: chardet<4,>=3.0.2 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests>=2.20->yfinance) (1.25.9)
Requirement already satisfied: six>=1.5 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas>=0.24->yfinance) (1.15.0)
Building wheels for collected packages: yfinance, multitasking
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.55-py2.py3-none-any.whl size=22616 sha256=1a6399594823c58609687680a46b13f78846a6152e80eeabfbe36a555ef0d12b
  Stored in directory: /tmp/wsuser/.cache/pip/wheels/aa/8a/36/59ed4f6fbcb6100967618eeb0696046bf9777a41ac2ff1f9b9
  Building wheel for multitasking (setup.py) ... done
  Created wheel for multitasking: filename=multitasking-0.0.9-py3-none-any.whl size=8366 sha256=450888bc26224b3d53b01032a2dcb2f2da98c89d51f46a5c01de06a8ca8b75ab
  Stored in directory: /tmp/wsuser/.cache/pip/wheels/ae/25/47/4d68431a7ec1b6c4b5233365934b74c1d4e665bf5f968d363a
Successfully built yfinance multitasking
Installing collected packages: multitasking, yfinance
Successfully installed multitasking-0.0.9 yfinance-0.1.55
Collecting bs4
  Downloading bs4-0.0.1.tar.gz (1.1 kB)
Requirement already satisfied: beautifulsoup4 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from bs4) (4.9.1)
Requirement already satisfied: soupsieve>1.2 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from beautifulsoup4->bs4) (2.0.1)
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py) ... done
  Created wheel for bs4: filename=bs4-0.0.1-py3-none-any.whl size=1272 sha256=838ca4523845aa478f600f5ef33df473546cb94bc8300132228fffc3645956e1
  Stored in directory: /tmp/wsuser/.cache/pip/wheels/0a/9e/ba/20e5bbc1afef3a491f0b3bb74d508f99403aabe76eda2167ca
Successfully built bs4
Installing collected packages: bs4
Successfully installed bs4-0.0.1

In [2]:
import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup
import plotly.graph_objects as go
from plotly.subplots import make_subplots

## Define Graphing Function

In this section, we define the function `make_graph`. You don't have to know how the function works, you should only care about the inputs. It takes a dataframe with stock data (dataframe must contain Date and Close columns), a dataframe with revenue data (dataframe must contain Date and Revenue columns), and the name of the stock.

In [3]:
def make_graph(stock_data, revenue_data, stock):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historical Revenue"), vertical_spacing = .3)
    fig.add_trace(go.Scatter(x=pd.to_datetime(stock_data.Date, infer_datetime_format=True), y=stock_data.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(revenue_data.Date, infer_datetime_format=True), y=revenue_data.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False,
    height=900,
    title=stock,
    xaxis_rangeslider_visible=True)
    fig.show()

## Question 1: Use yfinance to Extract Stock Data

Using the `Ticker` function enter the ticker symbol of the stock we want to extract data on to create a ticker object. The stock is Tesla and its ticker symbol is `TSLA`.

In [4]:
tsla = yf.Ticker("TSLA")

Using the ticker object and the function `history` extract stock information and save it in a dataframe named `tesla_data`. Set the `period` parameter to `max` so we get information for the maximum amount of time.

In [5]:
tesla_data = tsla.history(Period="max")

**Reset the index** using the `reset_index(inplace=True)` function on the tesla_data DataFrame and display the first five rows of the `tesla_data` dataframe using the `head` function. Take a screenshot of the results and code from the beginning of Question 1 to the results below.

In [8]:
tesla_data.reset_index(inplace=True)

## Question 2: Use Webscraping to Extract Tesla Revenue Data

Use the `requests` library to download the webpage [https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue](https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue?cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork-23455606&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork-23455606&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork-23455606&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork-23455606&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ). Save the text of the response as a variable named `html_data`.

In [12]:
url = 'https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue'
tsla_data = requests.get(url).text

Parse the html data using `beautiful_soup`.

In [92]:
tsla_soup = BeautifulSoup(tsla_data,"html5lib")


#find all html tables in the web page
tables = tsla_soup.find_all('table') # in html table is represented by the tag <table>
for index,table in enumerate(tables):
    if ("Historical Data Table" in str(table)):
        table_index = index
print(table_index)
print(tables[table_index].prettify())

1
<table class="historical_data_table table">
 <thead>
  <tr>
   <th colspan="2" style="text-align:center">
    Tesla Quarterly Revenue
    <br/>
    <span style="font-size:14px;">
     (Millions of US $)
    </span>
   </th>
  </tr>
 </thead>
 <tbody>
  <tr>
   <td style="text-align:center">
    2020-12-31
   </td>
   <td style="text-align:center">
    $10,744
   </td>
  </tr>
  <tr>
   <td style="text-align:center">
    2020-09-30
   </td>
   <td style="text-align:center">
    $8,771
   </td>
  </tr>
  <tr>
   <td style="text-align:center">
    2020-06-30
   </td>
   <td style="text-align:center">
    $6,036
   </td>
  </tr>
  <tr>
   <td style="text-align:center">
    2020-03-31
   </td>
   <td style="text-align:center">
    $5,985
   </td>
  </tr>
  <tr>
   <td style="text-align:center">
    2019-12-31
   </td>
   <td style="text-align:center">
    $7,384
   </td>
  </tr>
  <tr>
   <td style="text-align:center">
    2019-09-30
   </td>
   <td style="text-align:center">
    $6,303
   </td>
  </tr>
  <tr>
   <td style="text-align:center">
    2019-06-30
   </td>
   <td style="text-align:center">
    $6,350
   </td>
  </tr>
  <tr>
   <td style="text-align:center">
    2019-03-31
   </td>
   <td style="text-align:center">
    $4,541
   </td>
  </tr>
  <tr>
   <td style="text-align:center">
    2018-12-31
   </td>
   <td style="text-align:center">
    $7,226
   </td>
  </tr>
  <tr>
   <td style="text-align:center">
    2018-09-30
   </td>
   <td style="text-align:center">
    $6,824
   </td>
  </tr>
  <tr>
   <td style="text-align:center">
    2018-06-30
   </td>
   <td style="text-align:center">
    $4,002
   </td>
  </tr>
  <tr>
   <td style="text-align:center">
    2018-03-31
   </td>
   <td style="text-align:center">
    $3,409
   </td>
  </tr>
  <tr>
   <td style="text-align:center">
    2017-12-31
   </td>
   <td style="text-align:center">
    $3,288
   </td>
  </tr>
  <tr>
   <td style="text-align:center">
    2017-09-30
   </td>
   <td style="text-align:center">
    $2,985
   </td>
  </tr>
  <tr>
   <td style="text-align:center">
    2017-06-30
   </td>
   <td style="text-align:center">
    $2,790
   </td>
  </tr>
  <tr>
   <td style="text-align:center">
    2017-03-31
   </td>
   <td style="text-align:center">
    $2,696
   </td>
  </tr>
  <tr>
   <td style="text-align:center">
    2016-12-31
   </td>
   <td style="text-align:center">
    $2,285
   </td>
  </tr>
  <tr>
   <td style="text-align:center">
    2016-09-30
   </td>
   <td style="text-align:center">
    $2,298
   </td>
  </tr>
  <tr>
   <td style="text-align:center">
    2016-06-30
   </td>
   <td style="text-align:center">
    $1,270
   </td>
  </tr>
  <tr>
   <td style="text-align:center">
    2016-03-31
   </td>
   <td style="text-align:center">
    $1,147
   </td>
  </tr>
  <tr>
   <td style="text-align:center">
    2015-12-31
   </td>
   <td style="text-align:center">
    $1,214
   </td>
  </tr>
  <tr>
   <td style="text-align:center">
    2015-09-30
   </td>
   <td style="text-align:center">
    $937
   </td>
  </tr>
  <tr>
   <td style="text-align:center">
    2015-06-30
   </td>
   <td style="text-align:center">
    $955
   </td>
  </tr>
  <tr>
   <td style="text-align:center">
    2015-03-31
   </td>
   <td style="text-align:center">
    $940
   </td>
  </tr>
  <tr>
   <td style="text-align:center">
    2014-12-31
   </td>
   <td style="text-align:center">
    $957
   </td>
  </tr>
  <tr>
   <td style="text-align:center">
    2014-09-30
   </td>
   <td style="text-align:center">
    $852
   </td>
  </tr>
  <tr>
   <td style="text-align:center">
    2014-06-30
   </td>
   <td style="text-align:center">
    $769
   </td>
  </tr>
  <tr>
   <td style="text-align:center">
    2014-03-31
   </td>
   <td style="text-align:center">
    $621
   </td>
  </tr>
  <tr>
   <td style="text-align:center">
    2013-12-31
   </td>
   <td style="text-align:center">
    $615
   </td>
  </tr>
  <tr>
   <td style="text-align:center">
    2013-09-30
   </td>
   <td style="text-align:center">
    $431
   </td>
  </tr>
  <tr>
   <td style="text-align:center">
    2013-06-30
   </td>
   <td style="text-align:center">
    $405
   </td>
  </tr>
  <tr>
   <td style="text-align:center">
    2013-03-31
   </td>
   <td style="text-align:center">
    $562
   </td>
  </tr>
  <tr>
   <td style="text-align:center">
    2012-12-31
   </td>
   <td style="text-align:center">
    $306
   </td>
  </tr>
  <tr>
   <td style="text-align:center">
    2012-09-30
   </td>
   <td style="text-align:center">
    $50
   </td>
  </tr>
  <tr>
   <td style="text-align:center">
    2012-06-30
   </td>
   <td style="text-align:center">
    $27
   </td>
  </tr>
  <tr>
   <td style="text-align:center">
    2012-03-31
   </td>
   <td style="text-align:center">
    $30
   </td>
  </tr>
  <tr>
   <td style="text-align:center">
    2011-12-31
   </td>
   <td style="text-align:center">
    $39
   </td>
  </tr>
  <tr>
   <td style="text-align:center">
    2011-09-30
   </td>
   <td style="text-align:center">
    $58
   </td>
  </tr>
  <tr>
   <td style="text-align:center">
    2011-06-30
   </td>
   <td style="text-align:center">
    $58
   </td>
  </tr>
  <tr>
   <td style="text-align:center">
    2011-03-31
   </td>
   <td style="text-align:center">
    $49
   </td>
  </tr>
  <tr>
   <td style="text-align:center">
    2010-12-31
   </td>
   <td style="text-align:center">
    $36
   </td>
  </tr>
  <tr>
   <td style="text-align:center">
    2010-09-30
   </td>
   <td style="text-align:center">
    $31
   </td>
  </tr>
  <tr>
   <td style="text-align:center">
    2010-06-30
   </td>
   <td style="text-align:center">
    $28
   </td>
  </tr>
  <tr>
   <td style="text-align:center">
    2010-03-31
   </td>
   <td style="text-align:center">
    $21
   </td>
  </tr>
  <tr>
   <td style="text-align:center">
    2009-12-31
   </td>
   <td style="text-align:center">
   </td>
  </tr>
  <tr>
   <td style="text-align:center">
    2009-09-30
   </td>
   <td style="text-align:center">
    $46
   </td>
  </tr>
  <tr>
   <td style="text-align:center">
    2009-06-30
   </td>
   <td style="text-align:center">
    $27
   </td>
  </tr>
  <tr>
   <td style="text-align:center">
    2008-12-31
   </td>
   <td style="text-align:center">
   </td>
  </tr>
 </tbody>
</table>

Using beautiful soup extract the table with `Tesla Quarterly Revenue` and store it into a dataframe named `tesla_revenue`. The dataframe should have columns Date and Revenue. Make sure the comma and dollar sign is removed from the `Revenue` column.

In [94]:
tesla_revenue = pd.DataFrame(columns=["Date", "Revenue"])

for row in tsla_soup.find("tbody").find_all("tr"):
    col = row.find_all("td")
    Date =col[0].text
    Revenue =col[1].text
  
    tesla_revenue = tesla_revenue.append({"Date":Date, "Revenue":Revenue}, ignore_index=True)

tesla_revenue

    Date  Revenue
0   2020  $31,536
1   2019  $24,578
2   2018  $21,461
3   2017  $11,759
4   2016   $7,000
5   2015   $4,046
6   2014   $3,198
7   2013   $2,013
8   2012     $413
9   2011     $204
10  2010     $117
11  2009     $112
12  2008      $15

Remove the rows in the dataframe that are missing data or are NaN in the Revenue column.

In [61]:
tesla_revenue.dropna(inplace = True)

Display the last 5 row of the `tesla_revenue` dataframe using the `tail` function. Take a screenshot of the results.

In [62]:
tesla_revenue.tail()

    Date Revenue
8   2012    $413
9   2011    $204
10  2010    $117
11  2009    $112
12  2008     $15

## Question 3: Use yfinance to Extract Stock Data

Using the `Ticker` function enter the ticker symbol of the stock we want to extract data on to create a ticker object. The stock is GameStop and its ticker symbol is `GME`.

In [73]:
gamestop = yf.Ticker("GME")

Using the ticker object and the function `history` extract stock information and save it in a dataframe named `gme_data`. Set the `period` parameter to `max` so we get information for the maximum amount of time.

In [74]:
gme_data = gamestop.history(Period="max")

**Reset the index** using the `reset_index(inplace=True)` function on the gme_data DataFrame and display the first five rows of the `gme_data` dataframe using the `head` function. Take a screenshot of the results and code from the beginning of Question 3 to the results below.

In [75]:
gme_data.reset_index(inplace=True)

## Question 4: Use Webscraping to Extract GME Revenue Data

Use the `requests` library to download the webpage [https://www.macrotrends.net/stocks/charts/GME/gamestop/revenue](https://www.macrotrends.net/stocks/charts/GME/gamestop/revenue?cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork-23455606&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork-23455606&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork-23455606&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork-23455606&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ). Save the text of the response as a variable named `html_data`.

In [76]:
url = 'https://www.macrotrends.net/stocks/charts/GME/gamestop/revenue'
html_data = requests.get(url).text

Parse the html data using `beautiful_soup`.

In [77]:
gme_soup = BeautifulSoup(html_data,"html5lib")

Using beautiful soup extract the table with `GameStop Quarterly Revenue` and store it into a dataframe named `gme_revenue`. The dataframe should have columns Date and Revenue. Make sure the comma and dollar sign is removed from the `Revenue` column using a method similar to what you did in Question 2.

In [78]:
gme_revenue = pd.DataFrame(columns=["Date", "Revenue"])

for row in gme_soup.find("tbody").find_all("tr"):
    col = row.find_all("td")
    Date =col[0].text
    Revenue =col[1].text
  
    gme_revenue = gme_revenue.append({"Date":Date, "Revenue":Revenue}, ignore_index=True)

gme_revenue

    Date Revenue
0   2020  $6,466
1   2019  $8,285
2   2018  $8,547
3   2017  $7,965
4   2016  $9,364
5   2015  $9,296
6   2014  $9,040
7   2013  $8,887
8   2012  $9,551
9   2011  $9,474
10  2010  $9,078
11  2009  $8,806
12  2008  $7,094
13  2007  $5,319
14  2006  $3,092
15  2005  $1,843

Display the last five rows of the `gme_revenue` dataframe using the `tail` function. Take a screenshot of the results.

## Question 5: Plot Tesla Stock Graph

Use the `make_graph` function to graph the Tesla Stock Data, also provide a title for the graph. The structure to call the `make_graph` function is `make_graph(tesla_data, tesla_revenue, 'Tesla')`

## Question 6: Plot GameStop Stock Graph

Use the `make_graph` function to graph the GameStop Stock Data, also provide a title for the graph. The structure to call the `make_graph` function is `make_graph(gme_data, gme_revenue, 'GameStop')`.

<h2>About the Authors:</h2> 

<a href="https://www.linkedin.com/in/joseph-s-50398b136/">Joseph Santarcangelo</a> has a PhD in Electrical Engineering, his research focused on using machine learning, signal processing, and computer vision to determine how videos impact human cognition. Joseph has been working for IBM since he completed his PhD.

Azim Hirjani

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By    | Change Description        |
| ----------------- | ------- | ------------- | ------------------------- |
| 2020-11-10        | 1.1     | Malika Singla | Deleted the Optional part |
| 2020-08-27        | 1.0     | Malika Singla | Added lab to GitLab       |

<hr>

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>

<p>